fastapi==0.103.0
pandas==2.2.2
pydantic==2.5.3
pytz==2024.1
Requests==2.32.3
schedule==1.2.2
setuptools==69.5.1
SQLAlchemy==2.0.30
uvicorn==0.20.0
websocket_client==1.8.0
jinja2==3.1.4
python-multipart==0.0.6

