<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Trading Buddy</title>
    <link rel="manifest" href="/static/site.webmanifest" />
    <style>
        section {
            padding: 60px, 0
        }

        html,
        body {
            overflow-x: hidden;
            scroll-padding-top: 90px;
        }

        .blurred {
            filter: blur(5px);
        }
    </style>
</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <div class="container-xxl">
            <a href="#accinfo" class="navbar-brand">
                <span class="fw-bold text-primary display-5">
                    Trading Buddy
                </span>
            </a>
            <!-- toggle button for mobile nav-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links-->
            <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#cpos" class="nav-link lead">Current Positions</a>
                    </li>
                    <li class="nav-item">
                        <a href="#ppos" class="nav-link lead">Pending Positions</a>
                    </li>
                    <li class="nav-item d-none d-lg-block">
                        <a href="/journal" class="nav-link lead">Trading Journal</a>
                    </li>
                    <li class="nav-item d-lg-block">
                        <a href="#riskModal" class="nav-link lead text-danger" data-bs-toggle="modal">Configure Risk</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!-- Risk Configure Modal -->
    <div class="modal fade" id="riskModal" tabindex="-1" aria-labelledby="riskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="riskModalLabel">Configure Risk</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Risk Configuration Form -->
                    <form>
                        <div class="mb-3">
                            <label for="newRisk" class="form-label">Risk:</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="newRisk" value="3" inputmode="decimal"
                                    pattern="[0-9],.*">
                                <span class="input-group-text"><i class="bi bi-percent"></i></span>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="saveRisk" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>


    <!--Account Info-->
    <section id="accinfo" class="bg-light">
        <div class="container-lg mt-5 pt-4 pt-lg-5">
            <div class="row justify-content-left align-items-left">
                <div class="col-md-5 text-left text-md-start mx-4">
                    <p class="mt-2 text-muted">
                        <span>Deposit: </span>
                        <span id="deposit-value">{{ deposit }}</span>
                    </p>
                    <p class="text-muted">
                        <span>Available Margin: </span>
                        <span>{{ available_margin }}</span>
                    </p>
                    <p class="text-muted">
                        <span>Unrealized PnL: </span>
                        <span id="pnl-value">{{ unrealized_pnl }}</span>
                    </p>
                    <p class="text-muted">
                        <span>Risk: </span>
                        <span id="risk-value">{{ risk }}%</span>
                    </p>
                </div>
            </div>
        </div>
    </section>





    <!--Orders Placement-->
    <section id="ordersplacement">
        <div class="container-sm">
            <div class="row justify-content-center my-2 px-3">
                <div class="col-lg-6">
                    <form>
                        <!--Dropdown Tool Selection-->
                        <label for="tool" class="form-label">Tool:</label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="bi bi-currency-bitcoin"></i>
                            </span>
                            <select id="tool" class="form-select">
                                {% for tool in tools %}
                                <option>{{ tool }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!--Entry Price Selection-->
                        <label for="entryp" class="form-label">Entry Price:</label>
                        <div class="mb-4 input-group">
                            <span class="input-group-text">
                                <i class="bi bi-box-arrow-in-right"></i>
                            </span>
                            <input type="text" class="form-control" id="entryp" placeholder="0.05" inputmode="decimal"
                                pattern="[0-9.,]*">
                        </div>

                        <!--Trigger Price Selection-->
                        <label for="triggerp" class="form-label">Trigger Price:</label>
                        <div class="mb-4 input-group">
                            <span class="input-group-text">
                                <i class="bi bi-exclamation-triangle"></i>
                            </span>
                            <input type="text" class="form-control" id="triggerp" placeholder="0.05" value="0"
                                inputmode="decimal" pattern="[0-9.,]*">
                        </div>

                        <!--Stop Price Selection-->
                        <label for="stopp" class="form-label">Stop Price:</label>
                        <div class="mb-4 input-group">
                            <span class="input-group-text">
                                <i class="bi bi-box-arrow-left"></i>
                            </span>
                            <input type="text" class="form-control" id="stopp" placeholder="0.04" inputmode="decimal"
                                pattern="[0-9.,]*">
                        </div>

                        <!--Leverage Selection-->
                        <label for="leverage" class="form-label">Leverage:</label>
                        <div class="mb-4 input-group">
                            <span class="input-group-text">
                                <i class="bi bi-x-lg"></i>
                            </span>
                            <input type="number" class="form-control" id="leverage" inputmode="numeric" pattern="[0-9]*"
                                disabled>
                        </div>

                        <!-- Container for the dynamic forms -->
                        <div id="form-container">
                            <!-- Original Form -->
                            <div class="form-group">
                                <label for="takep" class="form-label">Take №1 Price:</label>
                                <div class="mb-4 input-group">
                                    <span class="input-group-text">
                                        <i class="bi bi-lightning-charge"></i>
                                    </span>
                                    <input type="text" class="form-control" id="takep" placeholder="0.06"
                                        inputmode="decimal" pattern="[0-9.,]*">
                                </div>
                            </div>
                        </div>

                        <!--Buttons for takes-->
                        <div class="d-flex justify-content-center my-3">
                            <button id="add-form-button" class="btn btn-primary me-2" type="button">
                                <i class="bi bi-plus-lg"></i> Add Take Level
                            </button>
                            <button id="remove-form-button" class="btn btn-danger" type="button" style="display: none;">
                                <i class="bi bi-dash-lg"></i> Remove Take Level
                            </button>
                        </div>

                        <!-- Stop to Entry Form (initially hidden) -->
                        <div id="stop-to-entry-form" class="form-group" style="display: none;">
                            <label for="stoe" class="form-label">Stop to Entry Price After:</label>
                            <div class="mb-4 input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-check-circle"></i>
                                </span>
                                <input type="text" class="form-control" id="stoe" value="1" inputmode="numeric"
                                    pattern="[0-9]*">
                                <span class="input-group-text">take</span>
                            </div>
                        </div>

                        <!-- Trade Information -->
                        <div id="tradeinfo" class="form-group d-none">
                            <label class="form-label fs-4">Trade Info:</label>
                            <p id="volume-info" class="form-text fs-5">Volume: <span id="volume-value"></span></p>
                            <p id="margin-info" class="form-text fs-5">Margin: <span id="margin-value"></span></p>
                            <p id="loss-info" class="form-text fs-5">Potential Loss: <span id="loss-value"></span></p>
                            <p id="profit-info" class="form-text fs-5">Potential Profit: <span id="profit-value"></span>
                            </p>
                        </div>

                        <!-- Manual Volume Entry Modal -->
                        <div class="modal fade" id="manualVolumeModal" tabindex="-1"
                            aria-labelledby="manualVolumeModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="manualVolumeModalLabel">Enter Volume Manually</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="manualVolume" class="form-label">Volume:</label>
                                        <input type="number" class="form-control" id="manualVolume" step="0.01">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button id="submitManualVolume" type="button"
                                            class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Button to open position -->
                        <div class="d-flex justify-content-center my-3">
                            <button id="opent" class="btn btn-lg btn-secondary me-2 disabled fs-1" type="button">
                                Open
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--Current Positions-->
    <section id="cpos">
        <div class="container-lg mt-5 pt-1 pt-lg-5">
            <h3 class="text-center display-5">Current Positions</h3>
            <div class="p-3">
                <div class="row mb-3 justify-content-center ">
                    <div class="col-12 col-sm-10 col-md-5 shadow-lg p-4">
                        <div class="row mb-3">
                            <div class="col-12">
                                <p><strong>BTCUSDT</strong></p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <p class="text-success">Long</p>
                            </div>
                            <div class="col-6">
                                <p>20X</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <p>Volume:</p>
                            </div>
                            <div class="col-6">
                                <p>Margin:</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <p>Avg. Open:</p>
                            </div>
                            <div class="col-6">
                                <p>PnL:</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <button class="btn btn-outline-primary w-100 mb-2">Add Comment</button>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-outline-secondary w-100 mb-2">Add Emotional State</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary w-100">ORDERS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Pending Positions-->
    <section id="ppos">
        <div class="container-lg pt-5">
            <h3 class="text-center display-5">Pending Positions</h3>
            <div class="p-3">
                <div class="row mb-3 justify-content-center ">
                    <div class="col-12 col-sm-10 col-md-5 shadow-lg p-4">
                        <div class="row mb-3">
                            <div class="col-12">
                                <p><strong>BTCUSDT</strong></p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <p class="text-success">Long</p>
                            </div>
                            <div class="col-6">
                                <p>20X</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <p>Volume:</p>
                            </div>
                            <div class="col-6">
                                <p>Margin:</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <button class="btn btn-outline-primary w-100 mb-2">Add Comment</button>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-outline-secondary w-100 mb-2">Add Emotional State</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary w-100">ORDERS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
























    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="static/index_script.js"></script>
</body>

</html>